.actorcomponent{
    display: flex;
    flex-direction: column;
}

.actorcomponent--header{
}

.actorcomponent--body{
    padding: 1.5rem 0;
}

.actorcomponent--footer{
    padding: 1.5rem 0;
}

.actor-image{
    text-align: center;
    padding: 1rem 0;
}